
;; https://github.com/edn-format/edn
{:system

  {:deployment {
    :version :custom
    :type :instance

    :comment ; #uml/comment
      "The other type of deployment is \"specification\" which calls out cannonical nodes.
      This deployment model does not include the network structure.
      It is presumed that this deployment model will be agumented with other models,
      such as the the network structure.
      This entire model is very prescriptive and should be
      considered as derivative data.

      The model is a simple client :server architecture.
        Three clients communicating to a central server.
        The central :server distributes the messages back to the clients.
        This is not a true multicast but so the clients
        will need to subscribe to the server."
}}}
