<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/cytoscape.min.js"></script>
<title>Securboration Tabular RDF View</title>
<style>
.mycol{padding-left:0px}
.mycol{padding-right:0px}
.list-group-item:hover{background-color:lightblue;}
.claytonobject{min-height:60px}
div.tooltip-inner {
    max-width: 800px;
	}
</style>
<script>
//on page load
	$(function(){
		$("#notfound_tab").hide();
	});
</script>
<script>
//initializations
window.url = "http://localhost:8080/relationships/getRelatedNodes";
window.graphName="http://localhost:3030/ds/data/42a43412-d6f5-41cb-9140-c48068d29a70-IMMoRTALS-r2.0.0";
window.individualUri="http://darpa.mil/immortals/ontology/r2.0.0/analysis#CotByterToDispatcher";
window.composed = "";
window.jsonp = "";
window.previous = [];
window.engaged = false;
window.bootstrapme = function(){
	$.post("http://localhost:8080/immortalsRepositoryService/bootstrap",function(data){
		console.info(data + ": returned value");
	});
};
window.initialize_target = function(){
	$.get("http://localhost:8080/immortalsRepositoryService/graphs", function(data){
		graphName = data[0];
		console.info(graphName);
	});
};
</script>
<script>
window.cleartable = function(){
	$("#tablebody").empty();
	$(".tooltip").remove();
}

window.compose = function(){
		window.composed = url+"?"+"graphName="+encodeURIComponent(graphName)+"&individualUri="+encodeURIComponent(individualUri);
};

window.request = function(){
	window.compose();
	console.info(window.composed);
	$.get(window.composed,function(data){
		window.jsonp = data;
		window.cleartable();
		window.filltable();
		$('[data-toggle="tooltip"]').tooltip({container: 'body',delay:175})
	});
};

window.engage = function(){
	var inputbox = $("#uri_input")[0].value;
	if (inputbox){
		individualUri=inputbox;
	}
	request();
}

window.request_new = function(){
	window.test = $(this);
	var node = $(this);
	previous.push(individualUri);
	var desired = node.data("fulluri");
	window.individualUri=desired;
	window.request();
}

window.request_previous = function(){
	if(previous.length == 0){
		return 0;
	}
	else{
		var wanted = previous.pop();
		console.info(wanted);
		individualUri=wanted;
		request();
	}
}

window.filltable = function(){
	var edges = jsonp.edges;
	var subject = jsonp.label;
	var subject_type = jsonp.nodeType;
	
	for (i = 0; i < edges.length; i++){
		var edge = edges[i];
		var paster = generate_html(edge.name,edge.sink.label,edge.sink.nodeType);
		if (paster != 0){
			$("#tablebody").append(['<tr class="forcleaning">',paster.subject,paster.edge,paster.object,'</tr>']);
		}
	}
	var first;
	if (edges.length == 0){
		$("#tablebody").append('<tr class=""><td class="h-100 d-inline-block claytonsubject"></td><td class="h-100 d-inline-block claytonedge">no value</td><td class="h-100 d-inline-block well claytonobject">no value</td>');
		first = $("#tablebody>tr>td").first();
	}
	else{
		first = $("#tablebody>td").first();
	}
	//$("#tablebody>td").first().html(myslice(subject));
	first.html(myslice(subject));
	$(".claytonsubject").addClass("well");
	first.tooltip({
	container:"body",
	placement:"top",
	html:true,
	title:subject,
	});
	$(".claytonedge").addClass("well");
	$(".claytonobject").on("click",window.request_new);
	$(".claytonstatic").off("click");
};

window.generate_html = function(name,label,nodeType){ //name is edge, label is object, nodeType is Object's nodeType
	var returnvalue = Object();
	if (!label){
		return 0;
	}
	returnvalue.subject = '<td class="h-100 d-inline-block claytonsubject forcleaning"> </td>';
	//returnvalue.edge = '<td><div class="h-100 d-inline-block claytonedge" data-fullURI="'+name+'">'+myslice(name,"#")+'</div></td>';
	returnvalue.edge = '<td class="h-100 d-inline-block claytonedge forcleaning" data-fulluri="'+name+'" data-toggle="tooltip" data-placement="top" title="'+name+'">'+myslice(name,"#")+'</td>';
	if (nodeType === "OBJECT"){
		returnvalue.object = '<td class="h-100 d-inline-block forcleaning"><div data-toggle="tooltip" data-placement="top" title="'+label+'" class="h-100 btn btn-block btn-primary claytonobject" data-fulluri="'+label+'" data-nodetype="'+nodeType+'">'+myslice(label)+'</div></td>';
	}
	else{
		returnvalue.object = '<td class="well d-inline-block h-100 claytonobject claytonstatic" style="margin-bottom:0px;" data-nodetype="'+nodeType+'"><em>'+myslice(label)+'</em></td>';
	}
	return returnvalue;
};

window.myslice = function(string,delimiter = "/"){
	return string.slice(string.lastIndexOf(delimiter)+1);
}

</script>
</head>

<body>
<div class="col-sm-12">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		<button type="button" class="btn btn-primary" id="backbutton" onclick="request_previous()">Back</button>
		<button type="button" class="btn btn-primary" onclick="bootstrapme()">Bootstrap Graph</button>
		<button type="button" class="btn btn-primary" onclick="initialize_target()">Initialize Graph Target</button>
	</div>
	<div class="input-group col-sm-4">
		<span class="input-group-btn">
		<button type="button" class="btn btn-primary" onclick="engage()">Engage</button>
		</span>
		<input id="uri_input" type="text" class="form-control" placeholder="Desired URI" aria-describedby="btnGroupAddon">
		<span id="notfound_tab" class="input-group-addon">Not found!</span>
	</div>
</div>
</div>


<div class="col-sm-8">
	<table class="table table-bordered">
		<thead class="thead-inverse">
			<tr>
				<th class="col-sm-4">Subject</th>
				<th class="col-sm-4">Predicate</th>
				<th class="col-sm-4">Object</th>
			</tr>
		</thead>
		
		<tbody id="tablebody">
		</tbody>
	</table>
</div>

</body>
</html>